//TEAM
.social-networks{
    display: flex;
    gap: 10px;
    margin-top: 16px;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.social-networks__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms var(--timing-function);

    &:hover,
    &:focus{
    background-color: var(--accent-color);
}

    &:hover .social-networks__icon,
    &:focus .social-networks__icon{
    fill: var(--secondary-color3);
}
}

.social-networks__icon{
    fill:var(--decoration-color);
    transition: fill 250ms var(--timing-function);
}

//FOOTER
.footer-social-networks{
    margin-left: 70px;
}

.footer-social-networks__text{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--secondary-color3);

}

.footer-social-networks__list{
    display: flex;
    gap: 10px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.footer-social-networks__link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms var(--timing-function);

    &:hover,
    &:focus{
        background-color: var(--accent-color);
    }
}

.footer-social-networks__icon{
    fill: var(--secondary-color3);
}